# Salin file ini menjadi .env.local lalu isi dengan API key dari
# https://home.openweathermap.org/api_keys
VITE_OPENWEATHER_KEY=your_api_key_here

#  API key untuk fitur AI Briefing
VITE_OPENROUTER_API_KEY=your_openrouter_api_key_here
